@import "common.css?version=4.x-dev";

.simulator-breadcrumb {
	display: none;
}

.step-page .blockinfo-chapters {
	float: none;
	clear: both;
	margin: 1em 0;
	padding: 1em;
	color: #fff;
	background: #0b6ba8;
	border-radius: 10px;
}

.step-page .section-content {
	background-color: #0b6ba8;
}

a {
	color: whitesmoke;
	font-weight: bold;
	font-style: oblique;
}

a:hover, a:focus {
    color: silver;
}

.section-body-container ul li {
  list-style-type: none; /* annule la puce par défaut */
  margin-left: 3em; /* pour éviter la superposition du contenu */
  text-indent: -1.5em; /* pour ajouter un retrait à la seconde ligne */
  content: "?  ";  /* Ajoute la forme de la bullet */
}

.section-body-container ul li::before {
  content: "?  ";  /* Ajoute la forme de la bullet */
  color: white; /* Change la couleur */
}

.help-panel ul li {
  list-style-type: none; /* annule la puce par défaut */
  margin-left: 3em; /* pour éviter la superposition du contenu */
  text-indent: -1.5em; /* pour ajouter un retrait à la seconde ligne */
  content: "?  ";  /* Ajoute la forme de la bullet */
}

.help-panel ul li::before {
  content: "?  ";  /* Ajoute la forme de la bullet */
  color: white; /* Change la couleur */
}

.step-page label, .step-page .label {
	color: #0b6ba8;
}

.help-panel {
    background: #0b6ba8;
    color: #fff;
    border-radius: 5px;
}    

input[type=radio], input[type=checkbox]  {
    display : inline-table;
    width : 5em !important;
    margin : 0px !important;
}

.input-group {
    width: 100%;
}

.input-group fieldset label {
    display : block;
    width : 100% !important;
}

.form-horizontal .control-label {
    text-align : left
}

.btn-help {
	display: contents;
}

.input-group {
	float: right;
}

.step-page input[type="number"] {
	max-width: 30em;
}

.step-page input[type="text"] {
	max-width: 100%;
}

.step-page label {
	width: 55%;
}

.fiche-item {
	border-top: none;
}

.step-page .pre-note {
    position: relative;
    clear: both;
    font-size: 1em !important;
    border: solid;
    color: rgb(65, 105, 225);
    border-radius: 0.5em;
    padding: 10px;
  	margin-top: 20px;
  	margin-bottom: 40px;
  	border-width: 0.5px;
  	padding-left: 25px;
}